* {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    box-size: border-box;
}

body {}

.container {
    background: ;
    max-width: 960px;
    margin: auto;
    text-align: center;
}

.row {
    margin: auto;
    width: 360px;
}

h1 {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
    border: 1px none #8d99ae;
    border-radius: 5px;
}

label {
    padding: 20px;
    font-weight: 50px;
    font-size: 20px;
}

.form-control {
    padding: 5px 20px;
}

.btn {
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 10px;
    margin-left: 40px;
    padding: 10px 20px;
    background: #40916c;
}

li {
    list-style-type: none;
    border: solid 1px #d8f3dc;
    margin: 10px;
}

li span {
    font-size: 20px;
    text-align: left;
}

li button {
    border: none;
    padding: 10px 20px;
    margin: 10px;
    background: #ff5f40;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
}